<h1>Listing Topics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- extra credit: "sort topics by their number of votes". Should really move a lot of this logic out of the view, but here's the duct tape: -->
    <% @topics.sort_by {|topic| topic.votes.count}.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic %></td>
        <!-- the extra credit was: "Add a downvote button that does the opposite of what the upvote button does". here's some more duct tape -->
        <% a = 0 %>
        <% topic.votes.each do |vote| a += vote.vote_value %>
        <% end %>
        <td><%= pluralize(a, "vote") %></td>
        <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
        <td><%= button_to '-1', downvote_topic_path(topic), method: :post %></td>
        <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
